@import '@forge-ui/css/dist/theme-base.css';
@import '@forge-ui/css/dist/theme-dark.css';
@import '@forge-ui/css/dist/color-themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--forge-font-family-sans);
  background-color: var(--forge-surface-background);
  color: var(--forge-text-main);
}
